.v-application {
  .el-header {
    padding: 0;
    height: 45px;
    // border-bottom: 1px solid $-input-border-color;
  }
  .el-menu {
    border-right: none;
  }
  .el-main {
    padding: 0;
    .vc-page {
      padding: 20px;
    }
  }

  .page-container {
    background-color: $-page-backgground;
    width: 100vw;
  }

  .el-card {
    box-shadow: none;
    border-color: #fff;
  }
  .el-card--visible {
    overflow: unset;
  }

  .el-form-item__error {
    text-align: right;
    width: 100%;
  }
}

// @media only screen and (max-width: 575px){
//   .el-container {
//     .page-container {
//       width: 100%;
//     }
//   }
// }

// @media only screen and (max-width: 767px) and (min-width: 576px)  {
//   .el-container {
//     .page-container {
//       width: 540px;
//     }
//   }
// }

// @media only screen and (max-width: 991px) and (min-width: 768px)  {
//   .el-container {
//     .page-container {
//       width: 720px;
//     }
//   }
// }

// @media only screen and (max-width: 1199px) and (min-width: 992px)  {
//   .el-container {
//     .page-container {
//       width: 960px;
//     }
//   }
// }

// @media only screen and (min-width: 1200px)  {
//   .el-container {
//     .page-container {
//       width: 1140px;
//     }
//   }
// }