$-input-font-size: 13px;
$-input-border: 4px;
$-input-border-color: #cdcdcd;
$-text-color: #606266;

$-primary-color: #a0cfff;
$-surface-color: #212d40;
$-disabled-background: #8ac2f0;
$-table-header-color: #f4f6f8;

$-page-backgground: #f6f6f6;
$-scroll-backgground: #dddddd;